<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="style/style.css">
  <link rel="icon" type="image/png" href="img/Plan de travail 1.png">
  <title>Mairie Le Houlme</title>
</head>

<body>
  <header>
    <img src="">
  </header>
  <img src="img/logohoulme2redim copie.png" alt="logo-img" width="85px" height="auto" class="top-img">
  <nav class="nav-houlme">
    <a href="file:///Users/maximebourdaudhui/Documents/Projet%20Refonte%20Site/viemunicipale.html#" class="logo-nav"><img
        src="img/house-outline.svg" alt="" width="27px" height="auto"></a>
    <ul class="middle">
      <li><a href="#">VIE MUNICIPALE</a></li>
      <li><a href="#">CADRE DE VIE</a></li>
      <li><a href="#">ÉSPACE JEUNESSE</a></li>
      <li><a href="#">VIVRE À LE HOULME</a></li>
      <li><a href="#">ÉSPACE SOLIDARITÉ</a></li>
      <li><a href="#">CONTACT</a></li>
    </ul>
  </nav>

<div class="body">
  <aside class="sidebar">
    <ul>
      <li><a href="#">Réalisations et projets (2001-2020)</a></li>
      <li><a href="#">Le logement</a></li>
      <li><a href="#">P.V du conseil municipal</a></li>
      <li><a href="#">Finances communales</a></li>
      <li><a href="#">Organigramme des services</a></li>
    </ul>
  </aside>
  <main class="main">
    <div class="container">
      <article class="article">
        <h2>RÉALISATIONS ET PROJETS (2001-2020)</h2>
        <p>
           <strong>Pour les anciens :</strong> <br>

        </br> - Réfection extérieure des maisons du domaine de la source
           
            - Aménagement d’un espace climatisé à la maison de retraite <br>
           
            - Aménagement d’un espace climatisé au domaine de la source </br>
    
           <strong>Aménagement et réfection des bâtiments communaux :</strong> <br>
           
            - Réfection de la salle Levavasseur
           
            - Remplacement des huisseries du logement de J. P. Le doux
           
            - Pause de jardinières autour du parvis  devant le foyer, pour limiter l’accès des voitures dans le parc municipal
           
            - Remplacement des portes d’entrées du foyer et pose de portes coupe feu
           
            - Remplacement du rideau de scène du foyer communal
           
            - Réfection du rez-de-chaussée de la mairie
           
            - Changement de l’horloge de l’église
           
            - Réfection des vitraux de l’église
           
            - Réparation de la toiture de F. Leger
           
            - Démolition des friches industrielles du site G. Grenier
           
            - Réfection du bâtiment des diesels
           
            - Réfection intérieure du foyer municipal
           
            - Aménagement des nouveaux vestiaires pour le personnel technique
           
            - Remplacement et électrification des portes des garages municipaux

           <strong>Lutte contre les risques :</strong><br>
           
            - Passage d’une canalisation de 600 mm sente Delaunay et raccordement direct au Cailly, pour limiter les inondations.
           
            - Comblement de la marnière du bois planté
           
            - Mise en place du plan d’urgence (PPMS)
    
           <strong>Mise en sécurité et conformité des canalisations publiques :</strong> <br>
           
            - Remplacement des canalisations de gaz rue V. Hugo, rue Pasteur, rue J. Jaures
           
            - Remplacement des canalisations d’eau potable, rue A. Briand, rue de l’Abbaye, rue Quidel, Chemin de l’étrille
           
            - Renforcement de la pression d’eau potable chemin de l’Etrille suite à  l’installation d’un compresseur.
           
            - Effacement des réseaux EDF et France télécom dans le secteur commerçant de la route de Dieppe
          
           <strong>Les achats divers de gros matériel :</strong> <br>
           
            - Achat d’une tondeuse auto portée
           
            - Achat d’une voiture électrique
           
            - Achat d’un épandeur de sablage
           
            - Achat d’une débroussailleuse tractée
           
            - Achat d’un épandeur d’engrais et aérateur, tractés pour le terrain de football
           
            - Remplacement des tables et chaises du foyer municipal
           
            - Remplacement du serveur informatique de la mairie
          
        </p>
      </article>
    </div>
  </main>
</div>

</body>

</html>