<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style/style.css">
    <link rel="icon" type="image/png" href="img/Plan de travail 1.png">
    <title>Mairie Le Houlme</title>
</head>
<body>
    <img src="img/logohoulme2.png" alt="logo-img" width="85px" height="auto" class="top-img">
    <nav class="nav-houlme">
            <a href="file:///Users/maximebourdaudhui/Documents/Projet%20Refonte%20Site/index.html#" class="logo-nav"><img src="img/house-outline.svg" alt="" width="30px" height="auto"></a>
        <ul class="middle">
            <li><a href="#">VIE MUNICIPALE</a></li>
            <li><a href="#">VIVRE À LE HOULME</a></li>
            <li><a href="#">ESPACE JEUNESSE</a></li>
            <li><a href="#">CADRE DE VIE</a></li>
</body>
</html>
